* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    padding: 50px 5%;
    margin: 10px;
    background: linear-gradient(135deg, #333, #222);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 50px 0;
    background: linear-gradient(135deg, #5ddf58, #114902);
    color: #fff;
    
}

h1, h2 {
    font-weight: bold;
}

a {
    color: #5ddf58;
    text-decoration: none;
}

ul {
    list-style-type: none;
}